.vscode/
_cover_letters/
_misc/
_playground/
_presentations/
_publication_list/
_statements_and_proposals/
_index_writing.md
AlgebraicGeometryToRepresentationTheory/
BridgelandStabilityConditions/
CalabiYauTheory/
Connections/
DifferentialForms/
EigenvaluesOfEndomorphismsOfChainComplexes/
EtaleSheavesSeminarNotes/
Foundations/
GeometricRepresentationTheory/
GraphTheory/
Grassmannians/
HiggsBundles/
HodgeTheory/
Langlands/
LFunctions/
matroids/
Miscellaneous_topics/
ModuliSpaces/
Motives/
OMinimality/
Orientation/
PAdicHodgeTheory/
PAdicRepresentationTheory/
PerfectoidSpaces/
PerverseFiltration/
PoincareDuality/
QuantumFieldTheory/
RealAndComplexAnalysis/
RepresentationTheory/
RigidAlgebraicGeometry/
ShimuraVarieties/
SingularityTheoryAndLogarithmicGeometry/
SixFunctorFormalisms/
Stacks/
TannakianFormalism/
TatesThesis/
ToricVarieties/
Traces/
TropicalGeometry/
TStructures/