.claude/
.vscode/
_assembly/
_assembly_playground/
_cover_letters/
_claude_references/
_drafts/
_misc/
_playground/
_playground2/
_presentations/
_procedures/
_protocols/
_publication_list/
_statements_and_proposals/
_weaviate_brain/
ingest.py
.claudeignore/

CLAUDE.md
Thesis.bak.7z
claude_code.settings.json

AlgebraicGeometryToRepresentationTheory/
BridgelandStabilityConditions/
CalabiYauTheory/
Connections/
DifferentialForms/
EigenvaluesOfEndomorphismsOfChainComplexes/
EtaleSheavesSeminarNotes/
Foundations/
GeometricRepresentationTheory/
GraphTheory/
Grassmannians/
HiggsBundles/
HodgeTheory/
Langlands/
LFunctions/
matroids/
Miscellaneous_topics/
ModuliSpaces/
Motives/
OMinimality/
Orientation/
PAdicHodgeTheory/
PAdicRepresentationTheory/
PerfectoidSpaces/
PerverseFiltration/
PoincareDuality/
QuantumFieldTheory/
RealAndComplexAnalysis/
RepresentationTheory/
RigidAlgebraicGeometry/
ShimuraVarieties/
SingularityTheoryAndLogarithmicGeometry/
SixFunctorFormalisms/
Stacks/
TannakianFormalism/
TatesThesis/
Thesis/
independence-of-ell/
ToricVarieties/
Traces/
TropicalGeometry/
uwo_math_9144b_winter_2026/hw1.pdf
uwo_math_9144b_winter_2026/hw2.pdf
uwo_math_9144b_winter_2026/hw3.pdf
uwo_math_9144b_winter_2026/hw4.pdf
uwo_math_9144b_winter_2026_final_exam/